<!doctype html>
<html>
  <head>
    <title>
      <%= current_page.data.title || 'Grand Staircase Escalante Partners' %>
    </title>
    <%= partial "head" %>
    <%= yield_content :styles %>
  </head>
  <body class="home page-template page-template-full-width page-template-full-width-php page page-id-5 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-shadow-disable mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">
    <%= yield %>
    <%= partial :bottom %>
    <%= yield_content :scripts %>
  </body>
</html>
