
<% current_page.data.title = "#{program.title} | Grand Staircase Escalante Partners" %>


<div class="mkd-content" >
  <div class="mkd-content-inner">
    <div class="mkd-container">
      <div class="mkd-container-inner clearfix">
        <div class="small-images mkd-portfolio-single-holder">
          <div class="mkd-two-columns-66-33 clearfix">
            <div class="mkd-column1">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-media">
                  <% program.gallery.each do |photo| %>
                    <div class="mkd-portfolio-single-media">
                      <%= image_tag photo.url(w: 660, h: 350, fit: :crop), alt: photo.alt, class: 'hidden-xs' %>
                      <%= image_tag photo.url(w: 400, h: 350, fit: :crop), alt: photo.alt, class: 'visible-xs' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="mkd-column2">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-info-holder">
                  <div class="mkd-portfolio-content">
                    <div class="mkd-portfolio-info-item">
                      <h1 class="mkd-portfolio-item-title gs-title-text"><%= program.title %></h1>
                      <div class="mkd-portfolio-item-categories gs-subhdr-text">
                        <h6><%= program.category %></h6>
                      </div>
                      <div class="mkd-portfolio-item-content">
                        <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                          <div class="clearfix mkd-full-section-inner">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text"><%= markdown program.description %></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mkd-portfolio-fields">
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Partners</h6>
                      <p class="gs-text"><%= program.partners %></p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Services</h6>
                      <p class="gs-text"><%= program.services %></p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Link</h6>
                      <p class="gs-text">
                        <a href="http://escalanteriverwatershedpartnership.org/" target="_blank"><span class="gs-link"><%= markdown program.link %></span>                 </a>
                      </p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-date clearfix">
                      <h6 class="gs-text" style="color: black">Volunteer</h6>
                      <p class="gs-text"><%= program.volunteer %></p>
                    </div>
                    <div class="mkd-portfolio-item-social">
                      <div class="mkd-portfolio-single-share-holder">
                        <span class="mkd-share-label gs-text">
                          Follow          </span>
                          <div class="mkd-social-share-holder mkd-list">
                            <span class="mkd-social-share-label gs-text">Follow</span>
                            <ul>
                            <li class="mkd-facebook-share ">
                              <%= markdown program.facebook %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mkd-separator gs-separator">
                  </div>
                  <% if program.additional_content %>
                    <div class="mkd-portfolio-content">
                      <div class="mkd-portfolio-info-item">
                        <div class="mkd-portfolio-item-categories">
                          <h6 class="gs-title-text">
                            <%= program.additional_content_title %>
                          </h6>
                        </div>
                        <div class="mkd-portfolio-item-content">
                          <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                            <div class="clearfix mkd-full-section-inner">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                  <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <p class="gs-text"><%= program.additional_content_text %></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mkd-portfolio-single-nav">
        <div class="mkd-container-inner clearfix">
          <div class="mkd-portfolio-prev mkd-single-nav-with-image">
            <div class="mkd-single-nav-icon-holder">
              <a href="/programs/#{program.last_page}.html">
                <i class="fa fa-arrow-left arrow-icon" aria-hidden="true"></i>
              </a>
            </div>
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <%= link_to markdown(program.last_page), "/programs/#{program.last_page}.html" %>
              </h6>
            </div>
          </div>
          <div class="mkd-portfolio-back-btn gs-text">
            <a href="/programs.html">Programs</a>
          </div>
          <div class="mkd-portfolio-next mkd-single-nav-with-image">
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/programs/#{program.next_page}.html"><%= markdown program.next_page %></a>
              </h6>
            </div>
            <div class="mkd-single-nav-icon-holder">
              <a href="/programs/#{program.next_page}.html">
                <i class="fa fa-arrow-right arrow-icon" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>
