---
title: Get Involved | Grand Staircase Escalante Partners
---

<!DOCTYPE html>
<html lang="en-US">
<%= partial "head" %>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-5 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-shadow-disable mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">

<%= partial "sidebar" %>

<div class="mkd-wrapper">
  <div class="mkd-wrapper-inner">
    <div class="mkd-fullscreen-search-holder">
      <div class="mkd-fullscreen-search-table">
        <div class="mkd-fullscreen-search-cell">
          <div class="mkd-fullscreen-search-inner">
            <form action="http://ecologist.mikado-themes.com/" class="mkd-fullscreen-search-form" method="get">
              <div class="mkd-field-holder">
                <input type="text" name="s" placeholder="search" class="mkd-search-field" autocomplete="off"/>
                <div class="mkd-line"></div>
                <input type="submit" class="mkd-search-submit" value="&#xf21f;"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "home_header" %>

<div class="mkd-content" style="margin-top: -100px">
  <div class="mkd-content-inner">
    <div class="mkd-title mkd-standard-type mkd-has-background mkd-has-parallax-background mkd-content-center-alignment mkd-title-in-grid mkd-animation-no mkd-title-image-not-responsive" style="color:#ffffff;background-image:url(/images/get_involved1.jpg);background-position: center center; background-size: cover; height:620px;" data-height="620" data-background-width=&quot;1920&quot;>
      <div class="mkd-title-image">
        <img src="<%= dato.get_involved_page.main_image.url %>" alt="&nbsp;"/>
      </div>
      <div class="mkd-title-holder" >
        <div class="mkd-container clearfix">
          <div class="mkd-container-inner">
            <div class="mkd-title-subtitle-holder" style="">
              <div class="mkd-title-subtitle-holder-inner">
                <h1 style="color:#ffffff;">
                  <span class="gs-slider-lyr1">Join Us</span>
                </h1>
                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                  <div class="mkd-separator" style="border-color: #F0691B;width: 61px;border-bottom-width: 2px;margin-top: 6px;margin-bottom: 18px"></div>
                </div>
                <span class="mkd-subtitle" style="color:#ffffff;">
                  <span class="gs-slider-lyr3">support and volunteer</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493804905996 mkd-content-aligment-left mkd-grid-section" style="padding-top: 15px; padding-bottom: 15px;">
              <div class="clearfix mkd-section-inner">
                <div class="mkd-section-inner-margin clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-768" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-873805" data-1280-1440="0 20px 0 0" data-1024-1280="0 20px 0 0" data-768-1024="0 0 0 0" data-600-768="0 0 0 0" data-480="0 0 0 5px" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-873805" style="padding: 0 127px 0 0;margin: 0 0 0 0">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 style="text-align: left;" class="gs-title-text">Paleontology Lab</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="14" class="vc_empty_space"  style="height: 14px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text">If you’ve ever wanted to work with dinosaur bones and help “bring them back to life,” here’s your chance!  The Grand Staircase-Escalante National Monument Paleontology lab needs help with preparing specimens found in the fossil-rich badlands of the Kairparowits over the last ten years. Those with a steady hand and the patience of Job are encouraged to apply for this exacting (but rewarding) work. Must be at least 18 years old. Free training sponsored by the Utah Museum of Natural History will be held in the near future to instruct everyone on the latest techniques.  To volunteer, call Grand Staircase-Escalante National Monument paleontologist Dr. Alan Titus at <a href="tel:+1-435-644-1219" class="gs-link">(435) 644-1219</a>.</p>
                                    </div>
                                  </div>
                                  <div data-original-height="22" class="vc_empty_space"  style="height: 22px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 style="text-align: left;" class="gs-title-text">Site Stewards</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="14" class="vc_empty_space"  style="height: 14px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text">Partners has designed and is coordinating a Site Steward program in the Kanab-Big Water and Cannonville-Escalante portions of the Monument that enables monitoring of the many archeological, paleontological, and historical sites there for damage. Volunteers are trained and then assigned sites where they regularly check for destruction caused by natural erosion, animal activity, looting, or vandalism, and they report findings to a Grand Staircase-Escalante National Monument archaeologist.</br>
                                      </br>If you are interested in becoming a Site Steward or just want more information about this valuable program, call the Site Steward Coordinator, Jeff Frey, at <a href="tel:+1-435-644-1306" class="gs-link">(435) 644-1306</a>.</p>
                                    </div>
                                  </div>
                                  <div data-original-height="11" class="vc_empty_space"  style="height: 11px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-270615" data-768-1024="45px 0 0 0" data-600-768="50px 0 0 0" data-480="45px 0px 25px 0" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-270615" style="padding: 0 50px 0 20px">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 class="gs-title-text">Sign up for Volunteering</h3>
                                    </div>
                                  </div><!--
                                  <div data-original-height="23" class="vc_empty_space"  style="height: 23px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div role="form" class="wpcf7" id="wpcf7-f731-p819-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/join-us/#wpcf7-f731-p819-o1" method="post" class="wpcf7-form cf7_custom_style_3" novalidate="novalidate">
                                      <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="731" />
                                        <input type="hidden" name="_wpcf7_version" value="4.7" />
                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f731-p819-o1" />
                                        <input type="hidden" name="_wpnonce" value="89877f837b" />
                                      </div>
                                      <div class ="mkd-contact-page clearfix">
                                        <label>First Name*<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></label><br />
                                        <label>Last Name*<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></label><br />
                                        <label>Email*<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></label><br />
                                        <label>Phone<span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span></label><br />
                                        <label>Comment<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="write something..."></textarea></span></label><br />
                                        <input type="submit" value="apply" class="wpcf7-form-control wpcf7-submit" />
                                      </div>
                                      <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                  </div>-->
                                  <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="mkd-call-to-action normal">
                                    <div class="mkd-call-to-action-row-75-25 clearfix"  style="padding: 18px 38px 18px 38px;;border-color: #F0691B;;border-style: solid;border-width: 2px">
                                      <div class="mkd-text-wrapper mkd-call-to-action-column1 mkd-call-to-action-cell">
                                        <div class="mkd-call-to-action-text" >
                                          <h5><span style="color: #313646;">be seen, get connected. get in touch!</span></h5>
                                        </div>
                                      </div>
                                      <div class="mkd-button-wrapper mkd-call-to-action-column2 mkd-call-to-action-cell" style="text-align: right ;">
                                        <a href="https://www.volgistics.com/ex/portal.dll/ap?AP=1032873016&Embedded=on"   target="_blank"  class="mkd-btn mkd-btn-solid mkd-btn-medium mkd-btn-hover-solid gs-button"  > <span class="mkd-btn-text">Sign Up</span>   </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div data-original-height="30" class="vc_empty_space"  style="height: 30px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <img src="images/get_involved2.jpg"/>
                                  <div class="wpb_wrapper">
                                  <div data-original-height="30" class="vc_empty_space"  style="height: 30px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                    <h3 class="gs-title-text">General info</h3>
                                  </div>
                                  <div data-original-height="14" class="vc_empty_space"  style="height: 14px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p style="text-align: left;" class="gs-text">If you think you might like to be involved in this or other science-based projects, or if you’re new to Grand Staircase Escalante Partners volunteering, you can sign up by clicking on the link at the bottom of this page. If you’ve volunteered before, simply contact Partners at <a href="tel:+1-435-644-1308" class="gs-link">(435) 644-1308</a>.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->


<%= partial "bottom" %>
