---
title: Grand Staircase Escalante Partners
---
<!DOCTYPE html>
<html lang="en-US">
<%= partial "head" %>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-5 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-shadow-disable mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">

<%= partial "sidebar" %>

<div class="mkd-wrapper">
  <div class="mkd-wrapper-inner">
    <div class="mkd-fullscreen-search-holder">
      <div class="mkd-fullscreen-search-table">
        <div class="mkd-fullscreen-search-cell">
          <div class="mkd-fullscreen-search-inner">
            <form action="http://ecologist.mikado-themes.com/" class="mkd-fullscreen-search-form" method="get">
              <div class="mkd-field-holder">
                <input type="text" name="s" placeholder="search" class="mkd-search-field" autocomplete="off"/>
                <div class="mkd-line"></div>
                <input type="submit" class="mkd-search-submit" value="&#xf21f;"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "home_header" %>
<!--
<a id="mkd-back-to-top" href='#'>
  <span class="mkd-back-to-top-icon">
    <i class="mkd-icon-ion-icon ion-chevron-up " ></i>
</span></a>-->
<div class="mkd-content" style="margin-top: -100px">
  <div class="mkd-content-inner">
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
              <div class="clearfix mkd-full-section-inner">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <link href="http://fonts.googleapis.com/css?family=Merriweather:900|Caveat:400|Raleway:600" rel="stylesheet" property="stylesheet" type="text/css" media="all">
                      <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:#313646;padding:0px;">

<%= partial "slider" %>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493969257346 mkd-content-aligment-left mkd-grid-section" style="">
                <div class="clearfix mkd-section-inner">
                  <div class="mkd-section-inner-margin clearfix">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-115459" data-1280-1440="0px 0px 0px 75px" data-1024-1280="0px 0px 0px 10px" data-768-1024="0px 0px" data-600-768="0px 0px" data-480-600="0px 0px" data-480="0px 0px" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-115459" style="padding: 0px 0px 0px 75px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-counter-holder">
                                      <span class="mkd-counter zero">28</span>
                                      <div class="mkd-counter-content">
                                        <h3 class="mkd-counter-title"> thousand trees are killed every day for a paper. </h3>
                                        <a href="#"   target="_self" style="color: #54ddd1" class="mkd-btn mkd-btn-simple mkd-counter-link mkd-btn-hover-"  > 
                                          <span class="mkd-btn-text">read more</span>
                                        </a>
                                      </div>
                                    </div>
                                    <div data-original-height="32" class="vc_empty_space"  style="height: 32px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-926337" data-1280-1440="0px 0px 0px 65px" data-1024-1280="0px 0px 0px 35px" data-768-1024="0px 0px" data-600-768="0px 0px" data-480-600="0px 0px" data-480="0px 0px" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-926337" style="padding: 0px 0px 0px 65px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-counter-holder">
                                      <span class="mkd-counter zero">30  </span>
                                      <div class="mkd-counter-content">
                                        <h3 class="mkd-counter-title"> percent of earth is covered by great rainforest. </h3>
                                        <a href="#"   target="_self" style="color: #54ddd1" class="mkd-btn mkd-btn-simple mkd-counter-link mkd-btn-hover-"  > 
                                          <span class="mkd-btn-text">read more</span>
                                        </a>
                                      </div>
                                    </div>
                                    <div data-original-height="32" class="vc_empty_space"  style="height: 32px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493372580702 mkd-content-aligment-left" style="">
                <div class="clearfix mkd-full-section-inner">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-768" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-296412" data-1280-1440="141px 0px 226px 0px" data-1024-1280="101px 0px 189px 0px" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-296412" style="padding: 141px 0px 180px 0px">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="mkd-text-marquee" style="font-size: 123px;color: #54ddd1">
                                    <span class="mkd-marquee-element mkd-original-text">don’t throw your future away. don’t throw your future away. don’t throw your future away. don’t throw your future away. don’t throw your future away.</span>
                                    <span class="mkd-marquee-element mkd-aux-text">don’t throw your future away. don’t throw your future away. don’t throw your future away. don’t throw your future away. don’t throw your future away.</span>
                                  </div>  
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                <div class="clearfix mkd-full-section-inner">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1493391853565">
                      <div class="wpb_wrapper">
                        <div class="mkd-centered-slider">
                          <div class="mkd-slider-item">
                            <img width="1100" height="550" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-video-background-3-1100x550.jpg" class="attachment-ecologist_mikado_large_width size-ecologist_mikado_large_width" alt="a" />
                            <a class="mkd-video-link" href="https://vimeo.com/20166742" data-rel="prettyPhoto[single_pretty_photo]">
                              <i class="mkd-icon-ion-icon ion-play " ></i>
                            </a>
                          </div>
                          <div class="mkd-slider-item">
                            <img width="1100" height="550" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-video-background-4-1100x550.jpg" class="attachment-ecologist_mikado_large_width size-ecologist_mikado_large_width" alt="a" />
                            <a class="mkd-video-link" href="https://vimeo.com/65603143" data-rel="prettyPhoto[single_pretty_photo]">
                              <i class="mkd-icon-ion-icon ion-play " ></i>
                            </a>
                          </div>
                          <div class="mkd-slider-item">
                            <img width="1100" height="550" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-video-background-2-1100x550.jpg" class="attachment-ecologist_mikado_large_width size-ecologist_mikado_large_width" alt="a" />
                            <a class="mkd-video-link" href="https://vimeo.com/57894590" data-rel="prettyPhoto[single_pretty_photo]">
                              <i class="mkd-icon-ion-icon ion-play " ></i>
                            </a>
                          </div>
                          <div class="mkd-slider-item">
                            <img width="1100" height="550" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-video-background-1-1100x550.jpg" class="attachment-ecologist_mikado_large_width size-ecologist_mikado_large_width" alt="a" />
                            <a class="mkd-video-link" href="https://vimeo.com/73887131" data-rel="prettyPhoto[single_pretty_photo]">
                              <i class="mkd-icon-ion-icon ion-play " ></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1495456041203 mkd-content-aligment-center mkd-grid-section" style="">
                <div class="clearfix mkd-section-inner">
                  <div class="mkd-section-inner-margin clearfix">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-509215" data-1024-1280="10px 35px" data-768-1024="10px " data-600-768="10px 24%" data-480-600="10px 10%" data-480="10px 10%" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-509215" style="padding: 10px 65px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium" style="text-align: center">
                                      <div class="mkd-iwt-icon-holder">
                                        <span class="mkd-icon-shortcode normal mkd-icon-medium"  data-color="#54ddd1">
                                          <i class="mkd-icon-ion-icon ion-earth mkd-icon-element" style="color: #54ddd1" ></i>
                                        </span>
                                      </div>
                                      <div class="mkd-iwt-content-holder" >
                                        <div class="mkd-iwt-title-holder">
                                          <h3 class="mkd-iwt-title" style="text-transform: lowercase">Earth Care</h3>
                                        </div>
                                        <div class="mkd-iwt-text-holder">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-original-height="70" class="vc_empty_space"  style="height: 70px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-large" style="text-align: center">
                                      <div class="mkd-iwt-icon-holder">
                                        <span class="mkd-icon-shortcode normal" style="margin: 0px 0 -23px" data-color="#54ddd1">
                                          <i class="mkd-icon-ion-icon ion-ios-cloudy-outline mkd-icon-element" style="color: #54ddd1;font-size:95px" ></i>
                                        </span>
                                      </div>
                                      <div class="mkd-iwt-content-holder" style="padding: 0px">
                                        <div class="mkd-iwt-title-holder">
                                          <h3 class="mkd-iwt-title" style="text-transform: lowercase">Climate</h3>
                                        </div>
                                        <div class="mkd-iwt-text-holder">
                                          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-original-height="70" class="vc_empty_space"  style="height: 70px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-970117" data-1024-1280="0px 35px" data-768-1024="0px " data-600-768="0px 24%" data-480-600="0px 10%" data-480="0px 10%" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-970117" style="padding: 0px 65px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium" style="text-align: center">
                                      <div class="mkd-iwt-icon-holder">
                                        <span class="mkd-icon-shortcode normal"  data-color="#54ddd1">
                                          <i class="mkd-icon-ion-icon ion-android-sunny mkd-icon-element" style="color: #54ddd1;font-size:50px" ></i>
                                        </span>
                                      </div>
                                      <div class="mkd-iwt-content-holder" >
                                        <div class="mkd-iwt-title-holder">
                                          <h3 class="mkd-iwt-title" style="text-transform: lowercase">Sun Light</h3>
                                        </div>
                                        <div class="mkd-iwt-text-holder">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-original-height="78" class="vc_empty_space"  style="height: 78px">
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium" style="text-align: center">
                                      <div class="mkd-iwt-icon-holder">
                                        <span class="mkd-icon-shortcode normal" style="margin: 0px 0px -10px" data-color="#54ddd1">
                                          <i class="mkd-icon-ion-icon ion-ios-nutrition-outline mkd-icon-element" style="color: #54ddd1;font-size:75px" ></i>
                                        </span>
                                      </div>
                                      <div class="mkd-iwt-content-holder" >
                                        <div class="mkd-iwt-title-holder">
                                          <h3 class="mkd-iwt-title" style="text-transform: lowercase" >Planting</h3>
                                          <div class="mkd-iwt-text-holder">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div data-original-height="70" class="vc_empty_space"  style="height: 70px" >
                                        <span class="vc_empty_space_inner"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-elements-holder-item-bgrnd"  ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-962287" data-1024-1280="0px 35px" data-768-1024="0px " data-600-768="0px 24%" data-480-600="0px 10%" data-480="0px 10%" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-962287" style="padding: 0px 65px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium" style="text-align: center">
                                      <div class="mkd-iwt-icon-holder">
                                        <span class="mkd-icon-shortcode normal"  data-color="#54ddd1">
                                          <i class="mkd-icon-ion-icon ion-android-sync mkd-icon-element" style="color: #54ddd1;font-size:50px" ></i>
                                          </span>
                                        </div>
                                        <div class="mkd-iwt-content-holder" >
                                          <div class="mkd-iwt-title-holder">
                                            <h3 class="mkd-iwt-title" style="text-transform: lowercase" >Energy</h3>
                                          </div>
                                          <div class="mkd-iwt-text-holder">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div data-original-height="90" class="vc_empty_space"  style="height: 90px" >
                                        <span class="vc_empty_space_inner"></span>
                                      </div>
                                      <div class="mkd-iwt clearfix mkd-iwt-icon-top mkd-iwt-icon-medium" style="text-align: center">
                                        <div class="mkd-iwt-icon-holder">
                                          <span class="mkd-icon-shortcode normal"  data-color="#54ddd1">
                                            <i class="mkd-icon-ion-icon ion-android-stopwatch mkd-icon-element" style="color: #54ddd1;font-size:50px" ></i>
                                          </span>
                                        </div>
                                        <div class="mkd-iwt-content-holder" >
                                          <div class="mkd-iwt-title-holder">
                                            <h3 class="mkd-iwt-title" style="text-transform: lowercase" >Climate</h3>
                                          </div>
                                          <div class="mkd-iwt-text-holder">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales auctor nunc, at iaculis odio pellentesque eu.</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div data-original-height="70" class="vc_empty_space"  style="height: 70px" >
                                        <span class="vc_empty_space_inner"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-elements-holder-item-bgrnd"  ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1495448652490 mkd-content-aligment-center mkd-grid-section" style="">
                  <div class="clearfix mkd-section-inner">
                    <div class="mkd-section-inner-margin clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element " >
                              <div class="wpb_wrapper">
                                <h2>read our latest news</h2>
                              </div>
                            </div>
                            <div class="mkd-separator-holder clearfix  mkd-separator-center">
                              <div class="mkd-separator" style="border-color: #54ddd1;border-style: solid;width: 61px;border-bottom-width: 2px;margin-top: 14px;margin-bottom: 18px"></div>
                            </div>
                            <div class="mkd-section-subtitle-holder" >
                              <p  class="mkd-section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div data-original-height="50" class="vc_empty_space"  style="height: 50px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="mkd-elements-holder mkd-responsive-mode-768" >
                              <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-537235" >
                                <div class="mkd-elements-holder-item-inner">
                                  <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-537235" >
                                    <div class="mkd-elements-holder-item-content-inner">
                                      <div class="mkd-give-forms-list mkd-columns-3">
                                        <div class="mkd-give-forms-list-inner">
                                          <div class="mkd-give-form-item">
                                            <div class="mkd-give-top-holder">
                                              <div class="mkd-give-top-image">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-housing-project/"></a>
                                                <img width="1300" height="938" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-7.jpg" class="attachment-original size-original wp-post-image" alt="a" srcset="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-7.jpg 1300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-7-300x216.jpg 300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-7-768x554.jpg 768w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-7-1024x739.jpg 1024w" sizes="(max-width: 1300px) 100vw, 1300px" />
                                              </div>
                                              <div class="mkd-give-button-donations">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-housing-project/"   target="_self"  class="mkd-btn mkd-btn-solid mkd-btn-small mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-give-top-button mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
                                                  <span class="mkd-btn-text">donate</span>    
                                                </a>
                                                <div class="mkd-give-donations">
                                                  <span class="mkd-give-donations-number">6</span>
                                                  <span class="mkd-give-donations-label">donations</span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="mkd-gf-content-holder">
                                              <h6 class="mkd-gf-cats">
                                                <a href="http://ecologist.mikado-themes.com/donations/category/environment/" target="_blank">environment</a>            
                                              </h6>
                                              <h3 class="mkd-gf-title">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-housing-project/">
                                                  eco housing
                                                  </br>project
                                                </a>
                                              </h3>
                                              <div class="mkd-gf-content">
                                                <p>Ius te decore vituperatoribus, eos viris conclusionem que in, est tritani praesent ne. No his erat ubique eruditi.</p>
                                              </div>
                                              <div class="mkd-give-progress give-goal-progress">
                                                <div class="mkd-progress-bar">
                                                  <div class="mkd-progress-title-holder clearfix">
                                                    <div class="mkd-progress-number-wrapper  ">
                                                      <h5 class="mkd-progress-number">
                                                        <span class="mkd-percent" >0</span>
                                                      </h5>
                                                    </div>
                                                  </div>
                                                  <div class="mkd-progress-content-outer" >
                                                    <div data-percentage=71.3 class="mkd-progress-content " ></div>
                                                  </div>
                                                </div>
                                                <div class="mkd-give-progress-btm">
                                                  <div class="mkd-give-progress-raised">
                                                    <h6 class="mkd-give-progress-title">Raised: </h6>
                                                    <span class="mkd-give-progress-amount">$2,852.00</span>
                                                  </div>
                                                  <div class="mkd-give-progress-goal">
                                                    <h6 class="mkd-give-progress-title">Goal: </h6>
                                                    <span class="mkd-give-progress-amount">$4000.00</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="mkd-give-form-item">
                                            <div class="mkd-give-top-holder">
                                              <div class="mkd-give-top-image">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-friendly-campaign/"></a>
                                                <img width="1300" height="938" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-9.jpg" class="attachment-original size-original wp-post-image" alt="a" srcset="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-9.jpg 1300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-9-300x216.jpg 300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-9-768x554.jpg 768w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-9-1024x739.jpg 1024w" sizes="(max-width: 1300px) 100vw, 1300px" />
                                              </div>
                                              <div class="mkd-give-button-donations">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-friendly-campaign/"   target="_self"  class="mkd-btn mkd-btn-solid mkd-btn-small mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-give-top-button mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" > 
                                                  <span class="mkd-btn-text">donate</span>    
                                                </a>
                                                <div class="mkd-give-donations">
                                                  <span class="mkd-give-donations-number">5</span>
                                                  <span class="mkd-give-donations-label">donations                    </span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="mkd-gf-content-holder">
                                              <h6 class="mkd-gf-cats">
                                                <a href="http://ecologist.mikado-themes.com/donations/category/environment/" target="_blank">environment</a>            
                                              </h6>
                                              <h3 class="mkd-gf-title">
                                                <a href="http://ecologist.mikado-themes.com/donations/eco-friendly-campaign/">
                                                  eco friendly
                                                  </br>campaign        
                                                </a>
                                              </h3>
                                              <div class="mkd-gf-content">
                                                <p>Ius te decore vituperatoribus, eos viris conclusionem que in, est tritani praesent ne. No his erat ubique eruditi.</p>
                                              </div>
                                              <div class="mkd-give-progress give-goal-progress">
                                                <div class="mkd-progress-bar">
                                                  <div class="mkd-progress-title-holder clearfix">
                                                    <div class="mkd-progress-number-wrapper  ">
                                                      <h5 class="mkd-progress-number">
                                                        <span class="mkd-percent" >0</span>
                                                      </h5>
                                                    </div>
                                                  </div>
                                                  <div class="mkd-progress-content-outer" >
                                                    <div data-percentage=100 class="mkd-progress-content " ></div>
                                                  </div>
                                                </div>
                                                <div class="mkd-give-progress-btm">
                                                  <div class="mkd-give-progress-raised">
                                                    <h6 class="mkd-give-progress-title">Raised: </h6>
                                                    <span class="mkd-give-progress-amount">$6,521.00</span>
                                                  </div>
                                                  <div class="mkd-give-progress-goal">
                                                    <h6 class="mkd-give-progress-title">Goal: </h6>
                                                    <span class="mkd-give-progress-amount">$5000.00</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="mkd-give-form-item">
                                            <div class="mkd-give-top-holder">
                                              <div class="mkd-give-top-image">
                                                <a href="http://ecologist.mikado-themes.com/donations/save-animals-project/"></a>
                                                <img width="1300" height="938" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-8.jpg" class="attachment-original size-original wp-post-image" alt="a" srcset="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-8.jpg 1300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-8-300x216.jpg 300w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-8-768x554.jpg 768w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/donation-f-img-8-1024x739.jpg 1024w" sizes="(max-width: 1300px) 100vw, 1300px" />
                                              </div>
                                              <div class="mkd-give-button-donations">
                                                <a href="http://ecologist.mikado-themes.com/donations/save-animals-project/"   target="_self"  class="mkd-btn mkd-btn-solid mkd-btn-small mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-give-top-button mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >  
                                                  <span class="mkd-btn-text">donate</span>    
                                                </a>                
                                                <div class="mkd-give-donations">
                                                  <span class="mkd-give-donations-number">3</span>
                                                  <span class="mkd-give-donations-label">donations                    </span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="mkd-gf-content-holder">
                                              <h6 class="mkd-gf-cats">
                                                <a href="http://ecologist.mikado-themes.com/donations/category/environment/" target="_blank">environment</a>
                                              </h6>
                                              <h3 class="mkd-gf-title">
                                                <a href="http://ecologist.mikado-themes.com/donations/save-animals-project/">
                                                  save animals
                                                  </br>project        
                                                </a>
                                              </h3>
                                              <div class="mkd-gf-content">
                                                <p>Ius te decore vituperatoribus, eos viris conclusionemque in, est tritani praesent ne. No his erat ubique eruditi.</p>
                                              </div>
                                              <div class="mkd-give-progress give-goal-progress">
                                                <div class="mkd-progress-bar">
                                                  <div class="mkd-progress-title-holder clearfix">
                                                    <div class="mkd-progress-number-wrapper  ">
                                                      <h5 class="mkd-progress-number">
                                                        <span class="mkd-percent" >0</span>
                                                      </h5>
                                                    </div>
                                                  </div>
                                                  <div class="mkd-progress-content-outer" >
                                                    <div data-percentage=50 class="mkd-progress-content " ></div>
                                                  </div>
                                                </div>
                                                <div class="mkd-give-progress-btm">
                                                  <div class="mkd-give-progress-raised">
                                                    <h6 class="mkd-give-progress-title">Raised: </h6>
                                                    <span class="mkd-give-progress-amount">$3,500.00</span>
                                                  </div>
                                                  <div class="mkd-give-progress-goal">
                                                    <h6 class="mkd-give-progress-title">Goal: </h6>
                                                    <span class="mkd-give-progress-amount">$7000.00</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-elements-holder-item-bgrnd"  ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493376708793 mkd-content-aligment-left" style="">
                  <div class="clearfix mkd-full-section-inner">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-left mkd-hover-animation" data-item-class="mkd-elements-holder-custom-748492" data-1280-1440="120px 50px 120px 40px" data-1024-1280="110px 50px 110px 40px" data-768-1024="110px 50px 110px 100px" data-600-768="110px 50px 110px 100px" data-480-600="110px 50px 110px 40px" data-480="110px 50px 110px 40px" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-748492" style="padding: 150px 50px 150px 100px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h6>
                                          <span style="color: #ffffff;">Travel, adventure</span>
                                        </h6>
                                      </div>
                                    </div>
                                    <div data-original-height="3" class="vc_empty_space"  style="height: 3px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h2><span style="color: #ffffff;">solutions</span></h2>
                                      </div>
                                    </div>
                                    <div data-original-height="11" class="vc_empty_space"  style="height: 11px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <a href="http://ecologist.mikado-themes.com/waterfall/" target="_self"  class="mkd-btn mkd-btn-solid mkd-btn-small mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
                                      <span class="mkd-btn-text">subscribe</span>
                                    </a>
                                    <div data-original-height="6" class="vc_empty_space"  style="height: 6px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-3.jpg)"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-385220" data-1280-1440="121px 21%" data-1024-1280="111px 20%" data-768-1024="126px 32%" data-600-768="126px 32%" data-480-600="111px 17%" data-480="111px 17%" >
                              <a class="mkd-elements-holder-item-link" href="http://ecologist.mikado-themes.com/judah-freed/" target="_self"></a>
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-385220" style="padding: 151px 28%">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h4 style="text-align: center;">
                                          <span style="color: #313646;">“we don’t just build websites, we build your business.”</span>
                                        </h4>
                                      </div>
                                    </div>
                                    <div data-original-height="11" class="vc_empty_space"  style="height: 11px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <p style="text-align: center;">
                                          <span style="color: #313646;">Antony Groomley</span>
                                        </p>
                                      </div>
                                    </div>
                                    <div data-original-height="6" class="vc_empty_space"  style="height: 6px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-color: #d9d6cc"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-left mkd-hover-animation" data-item-class="mkd-elements-holder-custom-785884" data-1280-1440="27px 0px 269px 40px" data-1024-1280="27px 0px 249px 40px" data-768-1024="57px 0px 219px 100px" data-600-768="57px 0px 219px 100px" data-480-600="40px 0px 172px 40px" data-480="40px 0px 172px 40px" >
                              <a class="mkd-elements-holder-item-link" href="http://ecologist.mikado-themes.com/under-the-sea/" target="_self"></a>
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-785884" style="padding: 57px 50px 299px 100px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div data-original-height="8" class="vc_empty_space"  style="height: 8px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h6><span style="color: #ffffff;">Creative, design</span></h6>
                                      </div>
                                    </div>
                                    <div data-original-height="3" class="vc_empty_space"  style="height: 3px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h2><span style="color: #ffffff;">adventure today</span></h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-4.jpg)"></div>
                            </div>
                          </div>
                          <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                            <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-left mkd-hover-animation" data-item-class="mkd-elements-holder-custom-304562" data-1280-1440="21px 0px 269px 40px" data-1024-1280="21px 0px 249px 40px" data-768-1024="47px 0px 220px 100px " data-600-768="47px 0px 220px 100px " data-480-600="34px 0px 169px 40px " data-480="34px 0px 169px 40px " >
                              <a class="mkd-elements-holder-item-link" href="http://ecologist.mikado-themes.com/grassland/" target="_self"></a>
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-304562" style="padding: 87px 50px 260px 100px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h2><span style="color: #ffffff;">best moments</span></h2>
                                      </div>
                                    </div>
                                    <div data-original-height="4" class="vc_empty_space"  style="height: 4px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h6><span style="color: #ffffff;">May 8, 2017</span></h6>
                                      </div>
                                    </div>
                                    <div data-original-height="16" class="vc_empty_space"  style="height: 16px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-5.jpg)"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-116847" data-1280-1440="146px 0px" data-1024-1280="136px 0px" data-768-1024="136px 0px" data-600-768="136px 0px" data-480-600="136px 0px" data-480="136px 0px" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-116847" style="padding: 174px 0px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #ffffff;">share our work</span></h4>
                                      </div>
                                    </div>
                                    <div data-original-height="32" class="vc_empty_space"  style="height: 32px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <span class="mkd-icon-shortcode normal" style="margin: 2px 12px 0 12px" data-hover-color="#313646" data-color="#ffffff">
                                      <a  href="http://www.twitter.com" target="_blank">
                                        <span aria-hidden="true" class="mkd-icon-font-elegant social_twitter mkd-icon-element" style="color: #ffffff;font-size:22px" ></span>
                                      </a>
                                    </span>
                                    <span class="mkd-icon-shortcode normal" style="margin: 2px 12px 0 12px" data-hover-color="#313646" data-color="#ffffff">
                                      <a  href="http://www.facebook.com" target="_blank">
                                        <span aria-hidden="true" class="mkd-icon-font-elegant social_facebook mkd-icon-element" style="color: #ffffff;font-size:22px" ></span>
                                      </a>
                                    </span>
                                    <span class="mkd-icon-shortcode normal" style="margin: 1px 12px 0 12px" data-hover-color="#313646" data-color="#ffffff">
                                      <a  href="http://www.instagram.com" target="_blank">
                                        <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram mkd-icon-element" style="color: #ffffff;font-size:22px" ></span>
                                      </a>
                                    </span>
                                    <span class="mkd-icon-shortcode normal" style="margin: 2px 12px 0 12px" data-hover-color="#313646" data-color="#ffffff">
                                      <a  href="http://www.linkedin.com" target="_blank">
                                        <span aria-hidden="true" class="mkd-icon-font-elegant social_linkedin mkd-icon-element" style="color: #ffffff;font-size:22px" ></span>
                                      </a>
                                    </span>
                                    <div data-original-height="7" class="vc_empty_space"  style="height: 7px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-color: #54ddd1"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-left mkd-hover-animation" data-item-class="mkd-elements-holder-custom-503325" data-1280-1440="271px 0px 20px 40px" data-1024-1280="251px 0px 20px 40px" data-768-1024="219px 0px 51px 100px" data-600-768="219px 0px 51px 100px" data-480-600="233px 0px 35px 40px" data-480="233px 0px 35px 40px" >
                              <a class="mkd-elements-holder-item-link" href="http://ecologist.mikado-themes.com/jungle/" target="_self"></a>
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-503325" style="padding: 298px 50px 50px 68px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h2><span style="color: #ffffff;">future</span></h2>
                                      </div>
                                    </div>
                                    <div data-original-height="3" class="vc_empty_space"  style="height: 3px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h6><span style="color: #ffffff;">April 6, 2017</span></h6>
                                      </div>
                                    </div>
                                    <div data-original-height="16" class="vc_empty_space"  style="height: 16px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-6.jpg)"></div>
                            </div>
                          </div>
                          <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-center mkd-hover-animation" data-item-class="mkd-elements-holder-custom-808037" data-1280-1440="79px 23px" data-1024-1280="69px 23px" data-768-1024="69px 35%" data-600-768="69px 30%" data-480-600="69px 8% " data-480="69px 8% " >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-808037" style="padding: 107px 66px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #ffffff;">don’t miss</span></h4>
                                      </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element  vc_custom_1493379708626" >
                                      <div class="wpb_wrapper">
                                        <h2><span style="color: #ffffff;">our work</span></h2>
                                      </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element  vc_custom_1493388877401" >
                                      <div class="wpb_wrapper">
                                        <p style="text-align: center;">
                                          <span style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit omibus.</span>
                                        </p>
                                      </div>
                                    </div>
                                    <div data-original-height="28" class="vc_empty_space"  style="height: 28px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <a href="http://ecologist.mikado-themes.com/global-warming/" target="_self"  class="mkd-btn mkd-btn-solid mkd-btn-small mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
                                      <span class="mkd-btn-text">showcase</span>
                                    </a>
                                    <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-7.jpg)"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-4 mkd-vertical-alignment-middle mkd-horizontal-alignment-center mkd-hover-animation" data-item-class="mkd-elements-holder-custom-658043" data-1280-1440="291px 0px 30px 0px" data-1024-1280="271px 0px 30px 0px" data-768-1024="239px 0px 61px 0px" data-600-768="239px 0px 61px 0px" data-480-600="255px 0px 45px 0px" data-480="255px 0px 45px 0px" >
                              <a class="mkd-elements-holder-item-link" href="http://ecologist.mikado-themes.com/energy-balance/" target="_self"></a>
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-658043" style="padding: 317px 0px 60px 0px">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h3><span style="color: #ffffff;">get connected</span></h3>
                                      </div>
                                    </div>
                                    <div data-original-height="12" class="vc_empty_space"  style="height: 12px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element " >
                                      <div class="wpb_wrapper">
                                        <h6><span style="color: #ffffff;">Travel, adventure</span></h6>
                                      </div>
                                    </div>
                                    <div data-original-height="7" class="vc_empty_space"  style="height: 7px" >
                                      <span class="vc_empty_space_inner"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/h1-img-8.jpg)"></div>
                            </div>
                            <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-777356"   data-768-1024="113px 0px" data-600-768="113px 0px" data-480-600="113px 0px" data-480="100px 16px" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-777356" style="padding: 0">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-twitter-slider clearfix">
                                      <span aria-hidden="true" class="twitter-icon mkd-icon-font-elegant social_twitter" style="color: #ffffff"></span>
                                      <div class="mkd-twitter-slider-inner" style="color: #ffffff">
                                        <div class="item mkd-twitter-slider-item">
                                          <h4 class="item mkd-twitter-slider-item-title">
                                            Check out Connect, our new Business theme: 
                                            <a target="_blank" href="https://t.co/WvwtY1o0by">https://t.co/WvwtY1o0by</a>           
                                          </h4>
                                        </div>
                                        <div class="item mkd-twitter-slider-item">
                                          <h4 class="item mkd-twitter-slider-item-title">
                                            Depot - A Contemporary Theme for eCommerce:
                                            <a target="_blank" href="https://t.co/JWalxj2p1p">https://t.co/JWalxj2p1p</a>           
                                          </h4>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  style="background-color: #313646"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493812639962 mkd-content-aligment-left mkd-grid-section" style="">
                  <div class="clearfix mkd-section-inner">
                    <div class="mkd-section-inner-margin clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div class="mkd-elements-holder mkd-responsive-mode-768" >
                              <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-953061" data-1024-1280="0 87px 0 0px" data-768-1024="0 0px 50px 0px " data-600-768="0 0px 50px 0px " data-480-600="0 0px 50px 0px " data-480="0 0px 50px 0px " >
                                <div class="mkd-elements-holder-item-inner">
                                  <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-953061" style="padding: 0 91px 0 0px">
                                    <div class="mkd-elements-holder-item-content-inner">
                                      <div class="wpb_text_column wpb_content_element " >
                                        <div class="wpb_wrapper">
                                          <h3>our main goal</h3>
                                        </div>
                                      </div>
                                      <div data-original-height="8" class="vc_empty_space"  style="height: 8px" >
                                        <span class="vc_empty_space_inner"></span>
                                      </div>
                                      <div class="wpb_text_column wpb_content_element " >
                                        <div class="wpb_wrapper">
                                          <h4>lorem ipsum dolor sit amet consectetur</h4>
                                        </div>
                                      </div>
                                      <div class="wpb_text_column wpb_content_element " >
                                        <div class="wpb_wrapper">
                                          <p>Duis lacinia augue vel lacus consectetur, ut scelerisque quam sodales. Phasellus non lorem pulvinar, scelerisque ligula at, rutrum diam. Phasellus turpis ligula, luctus id erat in, pellentesque lobortis nisl. Cras venenatis imperdiet augue vel lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pharetra nisl sit amet sem feugiat, quis ultrices metus venenatis, vestibulum quis.</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-elements-holder-item-bgrnd"  ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div data-original-height="3" class="vc_empty_space"  style="height: 3px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="mkd-progress-bar">
                              <div class="mkd-progress-title-holder clearfix">
                                <span class="mkd-progress-title" >Environment</span>
                                <div class="mkd-progress-number-wrapper  ">
                                  <h5 class="mkd-progress-number">
                                    <span class="mkd-percent" >0</span>
                                  </h5>
                                </div>
                              </div>
                              <div class="mkd-progress-content-outer" >
                                <div data-percentage=87 class="mkd-progress-content " ></div>
                              </div>
                            </div> 
                            <div data-original-height="28" class="vc_empty_space"  style="height: 28px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="mkd-progress-bar">
                              <div class="mkd-progress-title-holder clearfix">
                                <span class="mkd-progress-title" >Ecology</span>
                                <div class="mkd-progress-number-wrapper  ">
                                  <h5 class="mkd-progress-number"><span class="mkd-percent" >0</span></h5>
                                </div>
                              </div>
                              <div class="mkd-progress-content-outer" >
                                <div data-percentage=82 class="mkd-progress-content " ></div>
                              </div>
                            </div>  
                            <div data-original-height="28" class="vc_empty_space"  style="height: 28px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="mkd-progress-bar">
                              <div class="mkd-progress-title-holder clearfix">
                                <span class="mkd-progress-title" >Sustainable Energy</span>
                                <div class="mkd-progress-number-wrapper  ">
                                  <h5 class="mkd-progress-number">
                                    <span class="mkd-percent" >0</span>
                                  </h5>
                                </div>
                              </div>
                              <div class="mkd-progress-content-outer" >
                                <div data-percentage=67 class="mkd-progress-content " ></div>
                              </div>
                            </div>  
                            <div data-original-height="28" class="vc_empty_space"  style="height: 28px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="mkd-progress-bar">
                              <div class="mkd-progress-title-holder clearfix">
                                <span class="mkd-progress-title" >Nature</span>
                                <div class="mkd-progress-number-wrapper  ">
                                  <h5 class="mkd-progress-number"><span class="mkd-percent" >0</span></h5>
                                </div>
                              </div>
                              <div class="mkd-progress-content-outer" >
                                <div data-percentage=87 class="mkd-progress-content " ></div>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493816522117 mkd-content-aligment-left" style="">
                  <div class="clearfix mkd-full-section-inner">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="mkd-elements-holder mkd-responsive-mode-768" >
                            <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-252125" data-1280-1440="0px 14%" data-1024-1280="0px 6%" data-768-1024="0px 12%" data-600-768="0px 2%" data-480-600="0px 2%" data-480="0px 2%" >
                              <div class="mkd-elements-holder-item-inner">
                                <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-252125" style="padding: 0px 20%">
                                  <div class="mkd-elements-holder-item-content-inner">
                                    <div class="mkd-testimonials-holder clearfix dark">
                                      <div class="mkd-testimonials testimonials-slider mkd-dark-navigation" >
                                        <div class="mkd-testimonial-content testimonials-slider">
                                          <div class="mkd-testimonial-author-image-quote">
                                            <div class="mkd-testimonial-author-image">
                                              <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />
                                            </div>
                                          </div>
                                          <div class="mkd-testimonial-content-inner">
                                            <div class="mkd-testimonial-text-holder">
                                              <div class="mkd-testimonial-text-inner ">
                                                <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                                <div class="mkd-testimonial-author">
                                                  <h6 class="mkd-testimonial-author-text ">Richard Fields</h6>
                                                  <p class="mkd-testimonials-job ">Designer</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="mkd-testimonial-content testimonials-slider">
                                          <div class="mkd-testimonial-author-image-quote">
                                            <div class="mkd-testimonial-author-image">
                                              <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />            
                                            </div>
                                          </div>
                                          <div class="mkd-testimonial-content-inner">
                                            <div class="mkd-testimonial-text-holder">
                                              <div class="mkd-testimonial-text-inner ">
                                                <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                                <div class="mkd-testimonial-author">
                                                  <h6 class="mkd-testimonial-author-text ">John Gambl</h6>
                                                  <p class="mkd-testimonials-job ">Graphic Designer</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mkd-elements-holder-item-bgrnd"  >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
                <div data-mkd-parallax-speed="1" class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1495451299290 mkd-content-aligment-center mkd-parallax-section-holder mkd-parallax-section-holder-touch-disabled mkd-grid-section" >
                  <div class="clearfix mkd-section-inner" >
                    <div class="mkd-section-inner-margin clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element " >
                              <div class="wpb_wrapper">
                                <h2><span style="color: #ffffff;">subscribe to our newsletter</span></h2>
                              </div>
                            </div>
                            <div class="mkd-separator-holder clearfix  mkd-separator-center">
                              <div class="mkd-separator" style="border-color: #F0691B;border-style: solid;width: 61px;border-bottom-width: 2px;margin-top: 14px;margin-bottom: 18px"></div>
                            </div>
                            <div class="mkd-section-subtitle-holder" >
                              <p style="color: #ffffff" class="mkd-section-subtitle">stay up to date on our latest activities</p>
                            </div>
                            <div data-original-height="49" class="vc_empty_space"  style="height: 49px" >
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f11540-p5-o1" lang="en-US" dir="ltr">
                              <div class="screen-reader-response"></div>
                              <form action="/#wpcf7-f11540-p5-o1" method="post" class="wpcf7-form cf7_custom_style_2" novalidate="novalidate">
                                <div style="display: none;">
                                  <input type="hidden" name="_wpcf7" value="11540" />
                                  <input type="hidden" name="_wpcf7_version" value="4.7" />
                                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f11540-p5-o1" />
                                  <input type="hidden" name="_wpnonce" value="97b31987d4" />
                                </div>
                                <div class ="mkd-newsletter transparent clearfix">
                                  <span class="wpcf7-form-control-wrap name">
                                    <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="name" />
                                  </span> 
                                  <span class="wpcf7-form-control-wrap email">
                                    <input type="email" name="email" value="" size="40" maxlength="100" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email" />
                                  </span>
                                  <input type="submit" value="Subscribe" class="wpcf7-form-control wpcf7-submit" style="background-color: #F0691B; border-color: #F0691B"/>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- close div.content_inner -->
    </div>  <!-- close div.content -->

    <%= partial "bottom" %>
    