---
title: Programs | Grand Staircase Escalante Partners
---


<%= partial "top" %>
<!--
<a id="mkd-back-to-top" href='#'>
	<span class="mkd-back-to-top-icon">
		<i class="mkd-icon-ion-icon ion-chevron-up " ></i>
	</span>
</a>-->
<div class="mkd-content" >
	<div class="mkd-content-inner">
		<div class="mkd-container">
			<div class="mkd-container-inner clearfix">
				<div class="mkd-grid-row">
					<div class="mkd-page-content-holder mkd-grid-col-12">
						<div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1496934265737 mkd-content-aligment-center" style="">
							<div class="clearfix mkd-full-section-inner">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner ">
										<div class="wpb_wrapper">
											<div class="mkd-portfolio-list-holder-outer mkd-ptf-standard mkd-ptf-with-spaces mkd-ptf-dark mkd-ptf-three-columns" data-next-page= 2 data-type= standard data-columns= three data-grid-size= four data-order-by= date data-order= ASC data-number= 12 data-image-size= full data-filter= no data-filter-order-by= name data-category= ecology data-shader-background-style= global_background_color data-title-tag= h5 data-show-categories= no data-show-load-more= no  data-max-num-pages = 2>
												<div class = "mkd-portfolio-list-holder clearfix" >
													<% dato.programs.each do |program| %>
														<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_32 portfolio_category_57">
															<div class="mkd-portfolio-standard-item">
																<div class="mkd-ptf-wrapper">
																	<div class="mkd-ptf-item-image-holder">
																		<img width="900" height="606" src="<%= program.main_image %>" class="attachment-full size-full wp-post-image credit" alt="f" srcset="<%= program.main_image %> 900w, <%= program.main_image %> 300w, <%= program.main_image %> 768w" sizes="(max-width: 900px) 100vw, 900px" />
																		<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																			<a class="lightbox mkd-portfolio-lightbox" href="/programs/#{program.slug}.html"><!-- data-rel="prettyPhoto[portfolio_standard_pretty_photo]">-->
																			</a>
																		</div>
																	</div>
																	<div class="mkd-ptf-item-text-holder" style="text-align: center">
																		<h5 class="mkd-ptf-item-title gs-title-text">
																			<a href="/programs/#{program.slug}.html" >
																				<%= program.title %>
																			</a>
																		</h5>
																		<p class="mkd-ptf-item-excerpt gs-text"><%= program.subtitle %></p>
																	</div>
																</div>
															</div>
														</article>
													<% end %><!--
													<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_57 portfolio_category_30">
														<div class="mkd-portfolio-standard-item">
															<div class="mkd-ptf-wrapper">
																<div class="mkd-ptf-item-image-holder">
																	<img width="900" height="606" src="images/paleo1.jpg" class="attachment-full size-full wp-post-image" alt="v" srcset="images/paleo1.jpg 900w, images/paleo1.jpg 300w, images/paleo1.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																	<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/paleontology.html">
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/paleontology.html" >
																			Paleontology
																		</a>
																	</h5>
																	<p class="mkd-ptf-item-excerpt gs-text">The fossil-rich badlands of the Kaiparowits Plateau have yielded over twenty new species of dinosaur and we are at the epicenter</p>
																</div>
															</div>
														</div>
													</article>
													<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_57 portfolio_category_58">
														<div class="mkd-portfolio-standard-item">
															<div class="mkd-ptf-wrapper">
																<div class="mkd-ptf-item-image-holder">
																	<img width="900" height="606" src="images/ERW_project.jpg" alt="d" srcset="images/ERW_project.jpg 900w, images/ERW_project.jpg 300w, images/ERW_project.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																	<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/programs/erwp.html" > 
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/programs/erwp.html" >
																			Escalante River Watershed Project					</a>
																	</h5>
																	<p class="mkd-ptf-item-excerpt gs-text">Partners joined a multi-jurisdictional effort to restore the Escalante Watershed and is a key partner in the project</p>
																</div>
															</div>
														</div>
													</article>
													<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_57 portfolio_category_58">
														<div class="mkd-portfolio-standard-item">
															<div class="mkd-ptf-wrapper">
																<div class="mkd-ptf-item-image-holder">
																	<img width="900" height="606" src="images/FSS.jpg" class="attachment-full size-full wp-post-image" alt="h" srcset="images/FSS.jpg 900w, images/FSS.jpg 300w, images/FSS.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																	<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/frontier.html">
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/frontier.html" >
																			Frontier Science School					</a>
																		</h5>
																		<p class="mkd-ptf-item-excerpt gs-text">We help students, teachers, and people of all ages explore Grand Staircase-Escalante National Monument and the public lands and rural communities of southern Utah and northern Arizona in a scientific and historical manner.</p>
																	</div>
																</div>
															</div>
														</article>
														<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_57 portfolio_category_30">
															<div class="mkd-portfolio-standard-item">
																<div class="mkd-ptf-wrapper">
																	<div class="mkd-ptf-item-image-holder">
																		<img width="900" height="606" src="images/veg_restoration.jpg" class="attachment-full size-full wp-post-image" alt="d" srcset="images/veg_restoration.jpg 900w, images/veg_restoration.jpg 300w, images/veg_restoration.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																		<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/native_plant.html">
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/native_plant.html" >Native Plant Restoration					</a>
																	</h5>
																	<p class="mkd-ptf-item-excerpt gs-text">A joint venture with local schools and the Bureau of Land Management, this Partners’ project aims to restore native vegetation on sites in or near Grand Staircase-Escalante National Monument</p>
																</div>
															</div>
														</div>
													</article>
													<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_32 portfolio_category_57">
														<div class="mkd-portfolio-standard-item">
															<div class="mkd-ptf-wrapper">
																<div class="mkd-ptf-item-image-holder">
																	<img width="900" height="606" src="images/arch.jpg" class="attachment-full size-full wp-post-image" alt="a" srcset="images/arch.jpg 900w, images/arch.jpg 300w, images/arch.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																	<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/library.html">
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/library.html" >Digital Research Library					</a>
																	</h5>
																	<p class="mkd-ptf-item-excerpt gs-text">Bureau of Land Management, Partners, and hard-working volunteers such as Barbara Mossinghoff, collected more then 500 digital versions of scientific research papers, the public now has unrestricted access to</p>
																</div>
															</div>
														</div>
													</article>
													<article class="mkd-portfolio-item mix portfolio_category_0 portfolio_category_31 portfolio_category_57">
														<div class="mkd-portfolio-standard-item">
															<div class="mkd-ptf-wrapper">
																<div class="mkd-ptf-item-image-holder">
																	<img width="900" height="606" src="images/oral_history.jpg" class="attachment-full size-full wp-post-image" alt="a" srcset="images/oral_history.jpg 900w, images/oral_history.jpg 300w, images/oral_history.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" />
																	<div class="mkd-portfolio-standard-overlay" style="background-color: ">
																		<a class="lightbox mkd-portfolio-lightbox" href="/history.html">
																		</a>
																	</div>
																</div>
																<div class="mkd-ptf-item-text-holder" style="text-align: center">
																	<h5 class="mkd-ptf-item-title gs-title-text">
																		<a href="/history.html" >Southern Utah Oral History					</a>
																	</h5>
																	<p class="mkd-ptf-item-excerpt gs-text">Since 1998, historians have gathered nearly 300 interviews from longtime residents, documenting cultural ties to wild country in and around the Monument. In 2010, Partners helped add two dozen more histories available for public access</p>
																</div>
															</div>
														</div>
													</article>-->
													<div class="mkd-ptf-gap">
													</div>
													<div class="mkd-ptf-gap">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>

